[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==5.1"
click = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7"
